@use "../base/mixins";
@use "../base/variables";

.cardContents {
  text-align: center;
}

.cardHeading {
  @include mixins.bold;
  font-size: variables.$fontXl;
  color: variables.$mainPink;
}

.cardCol {
  padding: 4% 0;

  &:hover {
    background-color: variables.$mainPink;

    .cardHeading {
      color: variables.$mainBlue;
    }
  }
}
