/**** Colours ****/
$mainPink:   #f797ab;
$mainBlue:   #788cca;
$mainRed:    #be1416;
$mainPurple: #4b1c43;

$lightPink:  #fbd2e0;
$lightBlue:  #cdd4f8;

$darkBackground: #222526;


/**** Font-sizes ****/
$fontLg: 22px;
$fontMd: 18px;
$fontSm: 14px;

$fontXl: 32px;
